//
// For guidance on how to add CSS and SCSS see:
// https://prototype-kit.service.gov.uk/docs/adding-css-javascript-and-images
//

// Add extra styles here
 pre code {
    display: block;
    max-width: 38em;
    margin: 0;
    padding: 20px;
    overflow-x: auto;
    border: 3px solid rgba(0,0,0,0);
    outline: 1px solid #b1b4b6;
    background-color: #f8f8f8;
    font-size: 16px;
    margin-bottom: 15px;
}


code {
  font-family: 'Fira code', monospace;
  font-size: inherit;
}

.app-example__code {
    position: relative;
    font-family: "GDS Transport",arial,sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-weight: 400;
    font-size: 16px;
    font-size: 1rem;
    line-height: 1.25;
}

.app-most-recent {
  border: 1px solid govuk-colour("mid-grey");
  margin-bottom: 15px;
  margin-top: 15px;
  overflow: hidden;
  padding-bottom: 30px;
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 45px;
  position: relative;
 
  &::before {
    background: govuk-colour("mid-grey");
    color: govuk-colour('white');
    content: 'PROTOTYPE';
    font-family: 'nta', Arial, sans-serif;
    font-weight: 400;
    left: 0;
    padding: .2105263158em .7894736842em;
    position: absolute;
    text-transform: none;
    top: 0;
  }
}