{% extends "layouts/main.html" %}

{% block pageTitle %}
You have added {{ data['people'].length| plural("person") }}
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <span class="govuk-caption-l">People who live with you</span>
     <h1 class="govuk-heading-l">You have added {{ data['people'].length| plural("person") }}</h1> 
     
     <div class="govuk-form-group">
      <dl class="govuk-summary-list hmrc-list-with-actions hmrc-list-with-actions--short">
        {% for person in data['people']%} 
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key govuk-!-font-weight-regular hmrc-summary-list__key">
            {{person.name}}
          </dt>
          <dd class="govuk-summary-list__actions hmrc-summary-list__actions">
            <ul class="govuk-summary-list__actions-list">
              <li class="govuk-summary-list__actions-list-item"><a class="govuk-link" href="#"><span aria-hidden="true">Change</span><span class="govuk-visually-hidden">Change Sydney Russell</span></a></li>
              <li class="govuk-summary-list__actions-list-item"><a class="govuk-link" href="delete?loop={{loop.index0}}"><span aria-hidden="true">Remove</span><span class="govuk-visually-hidden">Remove Sydney Russell from the list</span></a></li>
            </ul>
          </dd>
        </div>
        {% endfor %}
      </dl>
    </div>
      {% if data['department'] == "DWP" %}
      <div class="govuk-button-group">
        <a href="confirmation" class="govuk-button" data-module="govuk-button">
          Save and continue
        </a>
        <a href="name" class="govuk-button govuk-button--secondary" data-module="govuk-button">
          Add another
        </a
      </div>
      {% else %}
      <form method="post">
        <div class="govuk-form-group">
          <fieldset class="govuk-fieldset" aria-describedby="changedName-hint">
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
              <h1 class="govuk-fieldset__heading">
                Would you like to add another person?
              </h1>
            </legend>
            <div class="govuk-radios govuk-radios--inline" data-module="govuk-radios">
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="addAnother" name="addAnother" type="radio" value="yes">
                <label class="govuk-label govuk-radios__label" for="addAnother">
                  Yes
                </label>
              </div>
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="addAnother-2" name="addAnother" type="radio" value="no">
                <label class="govuk-label govuk-radios__label" for="addAnother-2">
                  No
                </label>
              </div>
            </div>
          </fieldset>
        </div>
        <button type="submit" class="govuk-button" data-module="govuk-button">
          Save and continue
        </button>
      </form>
      {% endif %}
      
    
      
    </div>
  </div>

{% endblock %}
