{% extends "layouts/main.html" %}

{% block pageTitle %}
  Check your answers page
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds-from-desktop">

      <h1 class="govuk-heading-l">
        Check your answers
      </h1>

      <dl class="govuk-summary-list govuk-!-margin-bottom-9">

            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Your name
              </dt>
              <dd class="govuk-summary-list__value">
                {{data['name']}}
              </dd>
              <dd class="govuk-summary-list__actions">
                <a class="govuk-link" href="name">
                  Change<span class="govuk-visually-hidden"> name</span>
                </a>
              </dd>
            </div>

            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Your rank
              </dt>
              <dd class="govuk-summary-list__value">
                {{data['rank']}}
              </dd>
              <dd class="govuk-summary-list__actions">
                <a class="govuk-link" href="rank">
                  Change<span class="govuk-visually-hidden"> rank</span>
                </a>
              </dd>
            </div>

            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Have a beard
              </dt>
              <dd class="govuk-summary-list__value">
                {{data['beard']}}
              </dd>
              <dd class="govuk-summary-list__actions">
                <a class="govuk-link" href="beard">
                  Change<span class="govuk-visually-hidden"> has a beard</span>
                </a>
              </dd>
            </div>

            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Your crimes
              </dt>
              <dd class="govuk-summary-list__value">
                {{data['crime']}}
              </dd>
              <dd class="govuk-summary-list__actions">
                <a class="govuk-link" href="crimes">
                  Change<span class="govuk-visually-hidden"> crimes</span>
                </a>
              </dd>
            </div>
          </dl>

      <h2 class="govuk-heading-m">
        Submit your details
      </h2>

      <p>
        By submitting this application you are confirming that, to the best of your knowledge, the details you are providing are correct.
      </p>

      <form  method="post">

        <div class="govuk-form-uk">
          <button type="submit" class="govuk-button" data-module="govuk-button">
            Submit
          </button>
        </div>

      </form>

    </div>
  </div>
{% endblock %}
