{% extends "layouts/main.html" %}

{% block pageTitle %}
  Question page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form class="form" action="/check-answers" method="post">

        <div class="govuk-form-group">
          <fieldset class="govuk-fieldset" aria-describedby="crime-hint">
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
              <h1 class="govuk-fieldset__heading">
                What are your pirate crimes?
              </h1>
            </legend>
            <div id="crime-hint" class="govuk-hint">
              Select all that apply.
            </div>
            <div class="govuk-checkboxes" data-module="govuk-checkboxes">
              <div class="govuk-checkboxes__item">
                <input class="govuk-checkboxes__input" id="crime" name="crime" type="checkbox" value="drunk">
                <label class="govuk-label govuk-checkboxes__label" for="crime">
                  Drink and disorderly
                </label>
              </div>
              <div class="govuk-checkboxes__item">
                <input class="govuk-checkboxes__input" id="crime-2" name="crime" type="checkbox" value="rum">
                <label class="govuk-label govuk-checkboxes__label" for="crime-2">
                  Rum smuggling
                </label>
              </div>
              <div class="govuk-checkboxes__item">
                <input class="govuk-checkboxes__input" id="crime-3" name="crime" type="checkbox" value="parrot">
                <label class="govuk-label govuk-checkboxes__label" for="crime-3">
                  Carrying a parrot without a license
                </label>
              </div>
              <div class="govuk-checkboxes__item">
                <input class="govuk-checkboxes__input" id="crime-4" name="crime" type="checkbox" value="eyepatch">
                <label class="govuk-label govuk-checkboxes__label" for="crime-4">
                  Wearing a fake eyepatch
                </label>
              </div>
              <div class="govuk-checkboxes__item">
                <input class="govuk-checkboxes__input" id="crime-5" name="crime" type="checkbox" value="treasure">
                <label class="govuk-label govuk-checkboxes__label" for="crime-5">
                  Burying treasure on private property
                </label>
              </div>
              <div class="govuk-checkboxes__item">
                <input class="govuk-checkboxes__input" id="crime-6" name="crime" type="checkbox" value="Tom Hanks">
                <label class="govuk-label govuk-checkboxes__label" for="crime-6">
                  Holding Tom Hanks hostage
                </label>
              </div>
            </div>
          </fieldset>
        </div>

        {{ govukButton({
          text: "Continue"
        }) }}

      </form>
      <details class="govuk-details" data-module="govuk-details">
        <summary class="govuk-details__summary">
          <span class="govuk-details__summary-text">
          How it works
          </span>
        </summary>
        <div class="govuk-details__text">
          <p class="govuk-body" target="_blank">You can find the HTML for <a href="https://design-system.service.gov.uk/components/checkboxes/">checkboxes component in the design system.</a>



        <pre>  <code markup="tt" class="language-javascript">
            router.post('/beard', function (req, res) {

              // Make a variable and give it the value from 'how-many-balls'
          var beard = req.session.data['beard']

              // Check whether the variable matches a condition
              if (beard == "yes"){
                // Send user to next page
                res.redirect('/crimes')
              } else {
                // Send user to ineligible page
                res.redirect('/fake-beard')
              }

            })
        </code>
      </pre>
        </div>
      </details>
    </div>
  </div>

{% endblock %}
