{% extends "layouts/main.html" %}

{% block pageTitle %}
  Question page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form class="form" action="/beard" method="post">

        <div class="govuk-form-group">
          <fieldset class="govuk-fieldset">
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
              <h1 class="govuk-fieldset__heading">
                What is your rank?
              </h1>
            </legend>
            <div class="govuk-radios" data-module="govuk-radios">
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="rank-1" name="rank" type="radio" value="captain">
                <label class="govuk-label govuk-radios__label" for="rank-1">
                  Captain
                </label>
              </div>
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="rank-2" name="rank" type="radio" value="first-mate">
                <label class="govuk-label govuk-radios__label" for="rank-2">
                  First Mate
                </label>
              </div>
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="rank-3" name="rank" type="radio" value="deckhand">
                <label class="govuk-label govuk-radios__label" for="rank-3">
                  Deckhand
                </label>
              </div>
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="rank-4" name="rank" type="radio" value="bilge-rat">
                <label class="govuk-label govuk-radios__label" for="rank-4">
                  Bilge Rat
                </label>
              </div>
            </div>
          </fieldset>
        </div>

        {{ govukButton({
          text: "Continue"
        }) }}

      </form>

    </div>
  </div>

{% endblock %}
